/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

@Typography_AbrilFF:    'Abril Fatface';
@Typography_Montserrat: 'Montserrat', sans-serif;

/* Font weigth */
@Thin_100:  100;
@Light_300: 300;
@Bold_700:  700;
@Bold_900: 900;

/* Colors */
@black:           #282828;
@ultradark-grey:  #3B3638;
@dark-grey:       #606060;
@gray:            #737373;
@gray_light:      #a0a0a0;
@white:           #FFFFFF;
@ultradark-pink:  #C82261;
@dark-pink:       #DF84A9;
@pink:            #FFDFEC;
@ultralight-pink: #FFF4F1;
@pastel-green:    #BDD4D3;
@pastel-blue:     #96A6EB;

// Breakpoints
@mobile:      ~"only screen and (max-width: 548px)";
@tablet:      ~"only screen and (min-width: 549px) and (max-width: 948px)";
@desktop:     ~"only screen and (min-width: 949px)";