/* Typography */
/* Font weigth */
/* Colors */
body {
  background: url("../assets/mobile-background.png") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.title {
  text-align: center;
  margin-top: 100px;
}
@media only screen and (min-width: 949px) {
  body {
    background-image: url("../assets/desktop-background.png");
  }
}
